<div class="container">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 outerframe">
    <h1 class="center-block">Abril Pro Ruby 2014</h1>
    <h2 class="center-block">
      <%= image_tag 'cfp-icon@2x.png', width: 48, height: 48, alt: "Microphone Icon designed by Edward Boatman from the Noun Project" %> Call For Speakers
    </h2>
    <p>
      It will be a pleasure to hear what you have to say and share experiences with you.<br />
      The sessions will last 40 minutes with 10 additional minutes for questions.<br />
      Your talk can be presented in English or Portuguese.
    </p>
    <!-- <a class="language" href="../pt/cfp">Portugu&#234;s</a> -->
    <a class="back" href="javascript:history.back()">&larr; Back to AP.Rb</a>

    <% if @proposal.errors.any? %>
      <div class="alert alert-danger">
        <h3>Ooops, something is wrong</h3>
        Please review the fields marked in red and try again.
      </div>
    <%- end %>

    <%= form_for @proposal, builder: BootstrapFormBuilder do |f| %>
      <%= f.field_wrapper :name do %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "What's your name?" %>
      <% end %>

      <%= f.field_wrapper :title do %>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "What do you do?" %>
      <% end %>

      <%= f.field_wrapper :organization do %>
        <%= f.label :organization %>
        <%= f.text_field :organization, class: 'form-control', placeholder: "Where do you work? (Optional)" %>
      <% end %>

      <%= f.field_wrapper :bio do %>
        <%= f.label :bio %>
        <%= f.text_area :bio, rows: '3', class: 'form-control', placeholder: "How would you briefly describe yourself?" %>
      <% end %>

      <%= f.field_wrapper :residence do %>
        <%= f.label :residence %>
        <%= f.text_field :residence, class: 'form-control', placeholder: "In what city do you live?" %>
      <% end %>

      <fieldset>
        <legend>Travel Expenses</legend>
        <%= f.field_wrapper :needs_travel_assistance, class: 'radio' do %>
          <%= f.radio_button :needs_travel_assistance, true %>
          <%= f.label :needs_travel_assistance, 'I will need assistance to pay my travel expenses.', value: true %>
        <% end %>
        <%= f.field_wrapper :needs_travel_assistance, class: 'radio' do %>
          <%= f.radio_button :needs_travel_assistance, false %>
          <%= f.label :needs_travel_assistance, 'Nevermind, I can pay for my travel.', value: false %>
        <% end %>
      </fieldset>

      <%= f.field_wrapper :email do %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder: "Oldschool contact (your@email.com)" %>
      <% end %>

      <%= f.field_wrapper :github_handler do %>
        <%= f.label :github_handler %>
        <%= f.text_field :github_handler, class: 'form-control', placeholder: "@username (Optional)" %>
      <% end %>

      <%= f.field_wrapper :twitter_handler do %>
        <%= f.label :twitter_handler %>
        <%= f.text_field :twitter_handler, class: 'form-control', placeholder: "@username (Optional)" %>
      <% end %>

      <%= f.field_wrapper :talk_title do %>
        <%= f.label :talk_title %>
        <%= f.text_field :talk_title, class: 'form-control', placeholder: "It doesn't need to be the final title of your talk" %>
      <% end %>

      <%= f.field_wrapper :talk_description do %>
        <%= f.label :talk_description %>
        <%= f.text_area :talk_description, rows: 8, class: 'form-control', placeholder: "What do you plan to cover and what the audience will learn?" %>
      <% end %>

      <%= f.field_wrapper :notes do %>
        <%= f.label :notes %>
        <%= f.text_area :notes, rows: 4, class: 'form-control', placeholder: "Anything else?" %>
      <% end %>

      <%= f.button 'Submit your proposal', class: 'btn btn-default btn-lg center-block' %>
    <%- end %>
  </div>
</div>