<div class="container">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 outerframe">
    <h1 class="center-block">Abril Pro Ruby 2014</h1>
    <h2 class="center-block">
      <%= image_tag 'cfp-icon@2x.png', width: 48, height: 48, alt: "Microphone Icon designed by Edward Boatman from the Noun Project" %> <%= @proposal.name %>
    </h2>
    <a class="back" href="http://abrilproruby.com">&larr; Back to AP.Rb</a>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @proposal.name %></dd>

      <dt>Title</dt>
      <dd><%= @proposal.title %></dd>

      <dt>Organization</dt>
      <dd><%= @proposal.organization %></dd>

      <dt>Short Bio</dt>
      <dd><%= @proposal.bio %></dd>

      <dt>Residence</dt>
      <dd><%= @proposal.residence %></dd>

      <dt>Travel Expenses</dt>
      <dd><%= @proposal.needs_travel_assistance ? 'Yes' : 'No' %></dd>

      <dt>Email</dt>
      <dd><%= @proposal.email %></dd>

      <dt>GitHub Handler</dt>
      <dd><%= @proposal.github_handler %></dd>

      <dt>Twitter Handler</dt>
      <dd><%= @proposal.twitter_handler %></dd>

      <dt>Talk Title</dt>
      <dd><%= @proposal.talk_title %></dd>

      <dt>Talk Description</dt>
      <dd><%= @proposal.talk_description %></dd>

      <dt>Notes</dt>
      <dd><%= @proposal.notes %></dd>
    </dl>
    <p>
      If you think anything is wrong or need to change something, send an email to <a href="mailto:abrilproruby@frevooonrails.com.br">abrilproruby@frevooonrails.com.br</a>.
    </p>
  </div>
</div>